.black{
    background: rgb(2, 15, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 4rem;
    /* width: 500px;
    height: 400px; */
}
@media (max-width:550px){
    .black{
      padding: 10px;  
    }
    .black2{
        min-width: 380px;
    }
    .black2 h1{
        font-size: 25px;
    }
}

.black2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(24, 245, 98);
    padding: 16px;
}
.black2 h1{
    font: bold;
    font-size: 18px;
    color: white;
    line-height: 38px;
}
.black form{
    width:100%;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.afterform{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.btn{
    background: rgb(24, 245, 98);
    
}

