.label{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}
.span{
    font-weight: medium;
    font-size: 14px;
    line-height: 22px;
    color: grey;
    margin-bottom: 10px;   
}
.area{
   padding-top: 500px 10px 5px 10px; 
   outline: none;
   border: 1px;
   border-color: rgb(248, 17, 17);
   background: white; 
   color: rgb(27, 26, 4);
   font-size: 15px;
   border-radius: 10px;
}
.area::-ms-value{
    
}
.area::placeholder{
    color: black;
}
@media (min-width:550px) {
    .area{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}