.creator{
    display: flex;
    padding: 10px;
    width: 100%;
    gap: 700px;
}
.creator button{
    background: rgb(72, 212, 126);
    padding: 5px;
}
.creator h3{
    color:  rgb(72, 212, 126);
}